@import 'nib/vendor'

vendor-prefixes= o ms mos webkit official

azul = #286090
verde = #11992E
principal = #8C1111

contenedorNotices()
	border 1px solid rgba(principal,0.8)
	border-radius 3px
	box-shadow 0px 1px 3px rgba(#000,0.5)
	min-height 500px

body,html
	//background rgba(#cbcbcb,0.5)	
	font-family: 'Open Sans', sans-serif;
	height 100%
	margin 0
	max-width 100%
	padding 0
	width 100%
	
.btnSearch
	background-color principal
	color white	
	
.carousel-caption img
	border-radius 3px
	height 50px
	width 80px	
	
.carousel-inner>.item
	height 300px
	a 
		
		img 
			height 100%
	
.carousel-inner>.item>img, .carousel-inner>.item>a>img
	max-height 100% !important
	width 100%	!important
	
.containerNotices
	contenedorNotices()
	
	div.row
		div
			margin-top 50px
			
			figure 
				box-shadow 0px 3px 3px rgba(#000,0.5)
				height 300px
				max-height 300px
				width 100%
				
				img 
					border-radius 3px
					height 100%
					width 100%

			h1
				text-align center
				
			p 
				text-align justify	

.container-notices
	margin 20px auto	
	
.divAviso
	h3
		text-align center

.divCategoria
	contenedorNotices()	
		
	div.row
		margin-top 120px	
		
		
		.divParent
			
			box-shadow 0px 2px 2px rgba(#000,0.5)
			padding 10px
			
			a 
				color #000
				
				&:hover
					.divTitle
						text-decoration underline
				
			
				div.divContent
					height 100px
					max-height 100px
					overflow hidden
				
				div.divImage
					
					figure
						height 100px
						max-height 100px
						text-align center
						width 80%
						
						img 
							height 100%
							width 80%
							
				.divTitle
					color principal
					line-height 60px			
				
			

.divElement
	border-radius 3px
	height 150px
	padding 2px
	
	div 
		height 90%
		
		a 
			color #000
			transition .5ms all
			
			figure
				height 80%
				width 100%
				
				img 
					border-radius 3px
					height 100%
					max-width 100%
					width 100%
			&:hover
				color principal
				text-decoration none
			
				
		p 
			text-align center	
			
	
.divEvents
	border 1px solid rgba(verde,0.5)	
	
.divLogin
	min-height 500px	
	
	div 
		div.login 
			
			border 1px solid principal
			border-radius 5px
			box-shadow 0px 3px 3px rgba(principal,0.5)
			margin-top 60px		
			padding 10px	

	
.divNews
	border 1px solid #cbcbcb
	border-top none
	border-radius 3px	
	box-shadow 0px 5px 5px rgba(principal,0.8) 
	margin 1px auto 20px
	padding 10px
	
.divNotices
	border 1px solid rgba(principal,0.5)	
	
	
.divSlogan
	
	figure
		width 90%
		
		img
			max-width 90%
			width 90%	
			
	p 
		color principal
		font-size 21px
		font-style italic
		font-weight 600
		margin-top 10px
		
.footer
	color white
	margin-top 20px	
	max-width 100%	
	width 100%
	
	.footer-end
		background-color rgba(verde,0.6)
		padding 2px
		
		div 
		
			font-size 15px
		
	.prefooter
		background-color principal
		
		ul 
			list-style none
			
			li 
				a
					color white
	
h1,h3
	color principal
	font-weight 500	
	
h2
	color verde	
	
hr 
	box-shadow 0px 1px 2px rgba(#000,0.4)	
	
.logo
	height 180px
	margin-top -5px
	position absolute
	width 180px	
	z-index 1000
	
.logoresp
	height 100px
	position absolute
	width 100px	
	z-index 1000
	
nav.menu
	background-color rgba(verde,0.6)	
	border 0
	font-weight bold
	
.navbar-default .navbar-nav>li>a
	color white
	
	&:hover
		color principal
		
.not 
	color red	!important	
	
.slide
	margin-top -22px	
	z-index 10
	
.title 
	color principal	

@media screen and (max-width:960px)
	.divSlogan
		p 
			font-size 12px
				
		