@import 'nib/vendor'

vendor-prefixes= o ms mos webkit official

azul = #286090
verde = #449D44

body,html
	background rgba(#cbcbcb,0.5)	
	height 100%
	margin 0
	max-width 100%
	padding 0
	width 100%
	
.container-actions
	background-color white
	border-radius 5px
	border 2px solid rgba(#337AB7,0.5)
	//box-shadow 0px 3px 5px rgba(black,0.5)
	height auto
	margin 10px auto
	width 60%
	
	.row
		margin  auto
		
.divContainerFiles	
	display none	

div.barra 
	color #cbcbcb
	height 30px
	position relative
	width 100%	
	
.divFiles
	margin 25px
	

		
div.alert
	margin 10px	
	
.divBarra
	background-color #E86C19
	height 20px
	width 100px
		
	
div.divTeachers
	margin 10px	
	
.glyphicon-user
	color verde
	
.loader,.loading
	border-bottom 2px solid azul
	border-top 2px solid #8A2EE6
	border-radius 30px
	display none
	height 30px
	transition 2ms all
	width 30px
	animation:loader 500ms infinite linear
	
.pLoader
	font-weight 600
	margin 10px
	text-align center
	
.not
	color red	
	
.ok
	color green	
	
p.title
	color #337AB7
	
.perfil
	position relative
	
.tdButton
	text-align center	
	
	a 
		color white
	
.tdImagen
	height 50px
	width 50px	
	
	img 
		height 100%
		width 100%
		
.trNews
	font-size 12px		
	
@-webkit-keyframes loader

	from 
		-webkit-transform:  rotate(0deg)
	to 
		-webkit-transform rotate(360deg)

@-moz-keyframes loader

	from 
		-moz-transform:  rotate(0deg)
	to 
		-moz-transform rotate(360deg)
		
@-ms-keyframes loader

	from 
		-ms-transform:  rotate(0deg)
	to 
		-ms-transform rotate(360deg)		
		

@-o-keyframes loader

	from 
		-o-transform:  rotate(0deg)
	to 
		-o-transform rotate(360deg)				
		

@media screen and (min-width: 768px)
	.perfil
		position absolute	
		right 10%