@import 'nib/vendor'

vendor-prefixes= o ms mos webkit official

azul = #286090
verde = #11992E
principal = #8C1111

body,html
	//background rgba(#cbcbcb,0.5)	
	height 100%
	margin 0
	max-width 100%
	padding 0
	width 100%
	
.btnSearch
	background-color principal
	color white	
	
.carousel-caption img
	border-radius 3px
	height 50px
	width 80px	
	
.carousel-inner>.item
	height 300px
	a 
		
		img 
			height 100%
	
.carousel-inner>.item>img, .carousel-inner>.item>a>img
	max-height 100%
	width 100%	
	
.container-notices
	margin 20px auto	
	
.logo
	height 180px
	margin-top -5px
	position absolute
	width 180px	
	z-index 1000
	
.logoresp
	height 100px
	position absolute
	width 100px	
	z-index 1000
	
nav.menu
	background-color rgba(verde,0.6)	
	border 0
	font-weight bold
	
.navbar-default .navbar-nav>li>a
	color white
	
.slide
	margin-top -22px	
	z-index 10
	